.tg-container-with-sider {
  flex: none;
  display: flex;
  gap: 10px;
  height: 100%;
  overflow: hidden;

  &.tree-collapsed {
    gap: 0;
  }

  & > .tg-container-with-sider--content {
    flex: auto;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
  }

  & > .tg-container-with-sider--sider {
    flex: none;
    position: relative;
    width: 320px;
    height: 100%;
    flex: none;
    border-radius: var(--tg-theme-border-radius);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: width .15s;

    & > .tg-container-trigger {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: -1px;
      top: calc(50% - 24px);
      width: 16px;
      height: 48px;
      border-radius: var(--tg-theme-border-radius) 0 0 var(--tg-theme-border-radius);
      border: 1px solid #d9d9d9;
      cursor: pointer;
      color: #bfbfbf;

      &:hover {
        color: var(--tg-theme-color-primary);
      }
    }

    &.hide {
      width: 0 !important;
      overflow: unset;
      background: none;

      & > .tg-container-trigger {
        border-radius: 0 var(--tg-theme-border-radius) var(--tg-theme-border-radius) 0;
        right: -16px;
        background: var(--tg-theme-color-bg-container);
      }

      & > *:not(.tg-container-trigger) {
        opacity: 0;
      }
    }
  }
}
