.tg-designer-property-comp-upload {
  display: flex;
  width: 100%;

  .tg-designer-property-comp-upload-wrapper {
    flex: auto;
  }

  .tg-designer-property-expend {
    & > div {
      margin: 0 !important;
      flex: unset !important;
      width: 40px !important;
      padding-left: 8px;

      .ant-upload-wrapper {
        display: block;

        .ant-upload-list {
          display: none;
        }
      }

      .ant-btn {
        padding: 0 8px;
        background: none;
        border: 0;
      }
    }
  }
}
