.tg-layout {
  position: relative;
  overflow: hidden;
  height: 100%;
  z-index: 2;
  display: flex;

  .tg-responsive-layout-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .tg-responsive-layout-sider {
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
    }

    &.collapsed {
      .anticon {
        margin: 0;
      }
    }
  }
}
