.tg-breadcrumb {
  display: flex;
  font-size: 12px;
  align-items: center;
  height: 35px;
  flex: none;
  padding: 15px 15px 0 15px;
  line-height: 24px;

  .tg-breadcrumb-btn-home {
    font-size: var(--tg-theme-font-size);
    margin-right: 4px;
  }

  .ant-breadcrumb {
    .ant-breadcrumb-overlay-link > .anticon {
      font-size: calc(var(--tg-theme-font-size-icon) - 2px);
    }
  }
}
