.tg-designer-award-dynamics {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .tg-award-dynamics-header {
    margin-bottom: 20px;

    .tg-award-dynamics-title {
      display: flex;
      justify-content: space-between;

      & > span:first-child {
        font-weight: bolder;
      }
    }

    .tg-award-dynamics-description {}
  }

  .tg-award-dynamics-item {
    display: flex;
    height: 80px;
    gap: 10px;
    width: calc((100% - 60px) / 2);
    position: relative;

    .ant-image {
      width: auto;
      height: auto;
      max-width: 160px;
      border-radius: 4px;
      flex: none;
      pointer-events: none;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      .ant-image-img {
        object-fit: cover;
      }
    }

    .tg-award-dynamics-item-content {
      flex: auto;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 14px;
      color: #333333;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .tg-adc-title {
        padding-top: 4px;
        font-weight: 600;
      }

      .tg-adc-content {
        padding-bottom: 4px;
        color: #999999;
        margin-bottom: 0;
        white-space: break-spaces;
      }
    }
  }

  .tg-award-dynamics-content-highlight {
    display: flex;
    gap: 60px;
    justify-content: space-between;

    .tg-award-dynamics-item.tg-award-dynamics-item-first {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      border-radius: 4px;
      height: auto;
      width: calc((100% - 60px) / 2);

      .ant-image {
        flex: none;
        height: 300px;
        max-width: 100%;
      }

      .tg-award-dynamics-item-content {
        flex: none;
        height: 80px;
      }
    }

    .tg-award-dynamics-items-other {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      width: calc((100% - 60px) / 2);

      .tg-award-dynamics-item {
        width: 100%;

        &:not(:first-child) {
          margin-top: 70px;

          &::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 1px;
            position: absolute;
            background: var(--tg-theme-color-border);
            top: -35px;
          }
        }
      }
    }
  }

  .tg-award-dynamics-content {
    display: flex;
    column-gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 20px;

    & > .tg-award-dynamics-item {
      width: calc((100% - 30px) / 2);

      &:nth-child(n + 3) {
        margin-top: 70px;

        &::after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 1px;
          position: absolute;
          background: var(--tg-theme-color-border);
          top: -35px;
        }
      }
    }
  }

  .tg-award-dynamics-more {
    text-align: right;
    margin-top: 10px;
  }
}

.tg-designer-award-dynamics-h5 {
  width: 100%;

  .tg-award-dynamics-description {
    padding-bottom: 1.2rem;
    color: #666666;
  }

  .tg-award-dynamics-item-content {
    padding-bottom: 1.2rem;
  }

  .tg-adc-title {
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 2rem;
  }
}
