.tg-designer-layout-footer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .tg-designer-layout-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #ffffff;

    .tg-designer-layout-footer-content-title {
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      gap: 8px;
      font-size: 30px;

      img {
        width: 300px;
      }
    }
  }
}
