.tg-color-picker-popover .ant-popover-inner-content {
  padding: 0 !important;
}

.tg-color-picker-preview.ant-input-group {
  display: flex;

  .ant-input-affix-wrapper {
    flex: auto;

    .color-block {
      width: 22px;
      height: 22px;
      border-radius: 4px;
      border: 1px solid #f0f0f0;
    }
  }

  & > .ant-btn {
    width: 60px;
    flex: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
