.tg-login {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  min-height: 500px;
  background: var(--tg-theme-color-bg-layout);

  .tg-login-title {
    position: absolute;
    z-index: 100;
    width: 360px;
    height: 34px;
    left: 32px;
    top: 32px;
    display: block;
  }

  .tg-login-box {
    position: absolute;
    right: 10%;
    z-index: 101;

    .login-box-content.login-box-content {
      padding: 56px 32px;
      z-index: 101;
      background: var(--tg-theme-color-bg-elevated);
    }

    .login-subtitle {
      font-family: 'Microsoft YaHei UI', serif;
      text-align: left;
      margin-bottom: 40px;
      font-weight: 700;
      line-height: 24px;
    }

    .login-dividing-line {
      margin: 40px 0;
    }
  }

  .corporate-services {
    position: absolute;
    width: 100%;
    text-align: center;
    justify-content: flex-end;
    bottom: 46px;
    align-self: flex-start;
    z-index: 100;
  }
}
