.tg-container-with-tree-sider {
  //@include container-border-radius;
  //gap: 12px;
  //overflow: unset;

  & > .tg-container {
    // 消除本组件下 TGContainerWithTable 组件的内边距值
    padding: 0;
  }

  & > .tg-container-with-tree-sider--content {
    box-sizing: border-box;
  }

  & > .tg-container-with-sider--sider.tg-container-with-tree-sider--sider {
    flex: none;
    width: 220px;
    background: var(--tg-theme-color-bg-container);
    border-radius: var(--tg-theme-border-radius);

    & > .tg-search-tree-container {
      height: 100%;
      padding: 10px 18px 10px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .ant-input {
        font-size: 14px;
        flex: auto;
      }

      & > .ant-spin-nested-loading {
        flex: auto;
        overflow-x: hidden;
        overflow-y: auto;

        .ant-tree .ant-tree-list .ant-tree-treenode {
          & > .ant-tree-switcher {
            transition: all 0.2s var(--tg-theme-motion-ease-in-out),
            border 0s var(--tg-theme-motion-ease-in-out),
            line-height 0s var(--tg-theme-motion-ease-in-out),
            box-shadow 0s var(--tg-theme-motion-ease-in-out);
          }

          & > .ant-tree-node-content-wrapper {
            &:hover {
              background: none;
            }
          }

          & > .ant-tree-switcher {
            border-top-left-radius: var(--tg-theme-border-radius);
            border-bottom-left-radius: var(--tg-theme-border-radius);

            &:not(.ant-tree-switcher-noop) + .ant-tree-node-content-wrapper {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }

          &.ant-tree-treenode-selected > .ant-tree-switcher {
            background: var(--tg-theme-color-primary-bg);
          }

          &:hover > :is(.ant-tree-switcher, .ant-tree-node-content-wrapper) {
            background: var(--tg-theme-control-item-bg-hover);
          }

          .ant-tree-switcher-noop {
            display: none; // 隐藏叶子节点的文件图标
          }

          .ant-tree-node-content-wrapper {
            .ant-tree-icon__customize {
              margin-left: -4px; // 隐藏叶子节点图标后，对齐自定义叶子节点icon与父节点switchIcon
              margin-right: 4px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
