@function tree-node-switcher-color($color: rgba(0, 0, 0, 0.88)) {
  @return url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'200 200 650 650\' fill=\'#{$color}\'><path d=\'M512 601.6a89.6 89.6 0 1 0-89.6-89.6 89.59 89.59 0 0 0 89.6 89.6z m0 0\' /></svg>');
}

.ant-app[data-doc-theme='dark'] .tg-container-with-tree-sider {
  & > .tg-container-with-sider--sider.tg-container-with-tree-sider--sider {
    & > .tg-search-tree-container {
      .ant-tree .ant-tree-list .ant-tree-treenode {
        .ant-tree-switcher.ant-tree-switcher-noop {
          .anticon {
            background-image: tree-node-switcher-color(rgba(255, 255, 255, 0.85));
          }
        }
      }
    }
  }
}

.tg-container-with-tree-sider {
  //@include container-border-radius;
  //gap: 12px;
  //overflow: unset;

  & > .tg-container {
    // 消除本组件下 TGContainerWithTable 组件的内边距值
    padding: 0;
  }

  & > .tg-container-with-tree-sider--content {
    box-sizing: border-box;
  }

  & > .tg-container-with-sider--sider.tg-container-with-tree-sider--sider {
    flex: none;
    width: 220px;
    background: var(--tg-theme-color-bg-container);
    border-radius: var(--tg-theme-border-radius);

    & > .tg-search-tree-container {
      height: 100%;
      padding: 10px 18px 10px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .ant-input {
        font-size: 14px;
        flex: auto;
      }

      & > .ant-spin-nested-loading {
        flex: auto;
        overflow-x: hidden;
        overflow-y: auto;

        .ant-tree .ant-tree-list .ant-tree-treenode {
          & > .ant-tree-switcher {
            transition: all 0.2s var(--tg-theme-motion-ease-in-out),
            border 0s var(--tg-theme-motion-ease-in-out),
            line-height 0s var(--tg-theme-motion-ease-in-out),
            box-shadow 0s var(--tg-theme-motion-ease-in-out);
          }

          .ant-tree-switcher.ant-tree-switcher-noop {
            svg {
              display: none;
            }

            .anticon {
              width: 1em;
              height: 1em;
              color: currentColor;
              background-image: tree-node-switcher-color();
            }
          }

          .ant-tree-node-content-wrapper {
            .ant-tree-title {
              line-height: var(--tg-theme-line-height);
            }
          }
        }
      }
    }
  }
}
