.tg-preview-wrapper {
  width: 100%;
  height: 100%;
  flex: auto;

  .tg-preview-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;

    &.tg-preview-designer-container {
      height: 100%;
      overflow: auto;
    }

    .tg-designer-layout-container > .ant-btn {
      height: auto;
    }

    .ant-flex {
      width: 100%;
    }

    .ant-image {
      width: auto;
      height: auto;
      overflow: hidden;

      .ant-image-img {
        pointer-events: none;
        object-fit: cover;
      }
    }
  }
}

.tg-preview-wrapper-h5 {
  width: 100%;
  height: 100%;
  flex: auto;
  background: #ededed;

  .tg-preview-container {
    width: 480px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
