.tg-designer-main-award {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .tg-main-award-header {
    margin-bottom: 20px;

    h1 {
      margin: 0 0 10px;
    }

    p {
      margin: 5px 0;
    }
  }

  .tg-main-award-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .tg-main-award-description {
      padding: 20px;
      flex: 1;
      margin-right: 10px;
      border-radius: 4px;

      h2 {
        position: relative;
        font-size: 16px;
        margin: 0 0 10px;
        padding-bottom: 5px;

        &::after {
          content: '';
          position: absolute;
          width: 30px;
          height: 3px;
          background: var(--tg-theme-color-primary);
          bottom: 0;
          left: 0;
        }
      }

      .ant-typography {
        white-space: break-spaces;
        word-break: break-word;
      }
    }

    .tg-main-award-button {
      width: 200px;
      text-align: center;
      display: flex;

      .ant-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        height: 100%;

        &:hover {
          background-color: var(--tg-designer-main-award-color-hover) !important;
        }
      }
    }
  }
}

.tg-designer-main-award-h5 {

}
