.tg-designer-material-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .anticon {
    font-size: 40px;
  }
}

.tg-designer-scrollable {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
  }

  /* 鼠标悬停显示滚动条 */
  &:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }

  &:hover::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }
}

.tg-designer-container {
  height: 100%;

  & > .ant-spin-nested-loading {
    width: 100%;
    height: 100%;
  }

  & > .ant-spin-nested-loading > .ant-spin-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .tg-designer-header {
    position: relative;
    height: 60px;
    flex: none;
    background: var(--tg-theme-color-bg-container);
    border-bottom: 1px solid var(--tg-theme-color-border);
  }

  .tg-designer-plugins-wrapper {
    background: #f0f1f3 !important;

    .tg-designer-plugin {
      width: 100%;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
      user-select: none;
      gap: 4px;

      & > .anticon {
        font-size: 24px;
      }

      &:hover {
        font-weight: bolder;
      }

      &.selected {
        background: #ffffff;
      }
    }
  }

  .tg-designer-plugin-content-wrapper {
    // border-right: 1px solid #EEEEF0;
  }

  .tg-designer-canvas-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    background-color: #f2f3f5;

    .tg-designer-canvas-layout {
      padding: 3px; // 为了适配画布的选中样式
      width: 100%;
      max-width: 100%;
      height: 100%;
      overflow: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      // background-image: url('../images/bg-dot.png');
      // 画布操作区域棋盘背景
      background-image: linear-gradient(45deg, #e7e7e7 25%, transparent 25%, transparent 75%, #e7e7e7 75%),
      linear-gradient(45deg, #e7e7e7 25%, transparent 25%, transparent 75%, #e7e7e7 75%);
      background-size: 16px 16px;
      background-position: 0 0, 8px 8px;

      .tg-designer-canvas-container {
        position: relative;
        flex: none;
        display: flex;
        flex-direction: column;
        user-select: none;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
        outline: 2px solid transparent;
        outline-offset: 1px;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), // Material Design标准缓动
        transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        outline 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &[data-selected='true'] {
          outline: 2px dashed var(--tg-theme-color-primary-active);
          z-index: 9999;
        }

        &:hover {
          outline-color: var(--tg-theme-color-primary-border-hover);
          z-index: 9999;

          &:not([data-selected='true']):has(.tg-designer-drag-component:hover) {
            outline-color: transparent;
          }

          &[data-selected='true']:has(.tg-designer-drag-component:hover) {
            outline-color: var(--tg-theme-color-primary-active);
          }
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          height: 15px;
          left: 0;
          right: 0;
          z-index: 1000;
          pointer-events: none;
        }

        .tg-designer-drag-placeholder {
          $indicator-color: var(--tg-theme-color-primary);
          $dash-width: 10px; // 虚线单段长度
          $gap-width: 5px; // 虚线间隔

          position: absolute;
          z-index: 9999;
          display: none;
          will-change: top, opacity;
          transition: top 0.07s ease-out, opacity 0.1s linear;
          transform: translateZ(0); // 触发 GPU 加速
          background: linear-gradient(
              90deg,
              var(--tg-theme-color-primary),
              transparent
          );
          height: 2px;
          pointer-events: none;

          &[data-type='placeholder'] {
            display: none;
            border-radius: 2px;
            pointer-events: none;
            background: repeating-linear-gradient(
                90deg,
                $indicator-color 0 $dash-width,
                transparent $dash-width ($dash-width + $gap-width)
            );
            background-size: ($dash-width + $gap-width) 100%; // 背景尺寸需要等于单周期长度
            will-change: opacity;
            transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
            animation: flowLine 5s linear infinite;
            z-index: 9999;

            // 根据布局方向动态设置尺寸和背景方向
            &[data-layout-direction='vertical'] {
              width: 2px;
              transform: translateY(-1px);
              background: repeating-linear-gradient(
                  90deg, // 水平方向渐变
                  $indicator-color 0 $dash-width,
                  transparent $dash-width ($dash-width + $gap-width)
              );
              z-index: 9999;
            }

            &[data-layout-direction='horizontal'] {
              height: 2px;
              background: repeating-linear-gradient(
                  180deg, // 垂直方向渐变
                  $indicator-color 0 $dash-width,
                  transparent $dash-width ($dash-width + $gap-width)
              );
              z-index: 9999;
            }

            // 定义流动动画
            @keyframes flowLine {
              0% {
                background-position-x: 0;
              }
              100% {
                background-position-x: -($dash-width + $gap-width); // 负数实现无缝滚动
              }
            }
          }

          &[data-type='container'] {
            display: none;
            background: rgba(24, 144, 255, 0.1);
            border: 2px dashed var(--tg-theme-color-primary);
            border-radius: 4px;
            box-shadow: 0 0 8px rgba(24, 144, 255, 0.1);
            box-sizing: border-box;
            overflow: hidden;
            transform: translateZ(0);
            animation: pulseContainer 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
            will-change: top, opacity;
            transition: top 0.07s ease-out, opacity 0.1s linear;
            transform-origin: center;

            // 布局组件的容器指示线
            &[data-container-type='layout'] {
              display: none;
              z-index: 9999;
            }

            // 画布容器指示线
            &[data-container-type='canvas'] {
              display: none;
              border-width: 2px;
              z-index: 9999;
            }

            @keyframes pulseContainer {
              0%, 100% {
                opacity: 0.6;
              }
              50% {
                opacity: 1;
              }
            }
          }
        }

        .tg-designer-component-actions-bar {
          position: fixed;
          z-index: 10001;
          background: var(--tg-theme-color-primary);
          border-radius: 0 0 var(--tg-theme-border-radius) var(--tg-theme-border-radius);
          box-shadow: 0 0 8px rgba(24, 144, 255, 0.1);

          button {
            width: 32px;
            height: 32px;
            background: none;
            border: none;
            color: #ffffff;
            transition: transform 0.2s;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .tg-designer-drag-component {
          position: relative;
          transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), // Material Design标准缓动
          transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
          outline 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          opacity: 1;
          transform: translateZ(0); // 强制开启GPU加速
          backface-visibility: hidden;
          outline: 2px solid transparent;
          user-select: none; // 防止文字选中干扰
          touch-action: none; // 优化移动端体验
          cursor: move; // 显示可拖动光标
          z-index: 998;
          // 位于画布中的拖拽组件，其下所有组件自动撑满，以确保画布中的组件呈现的效果与预览一致
          display: flex;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            height: 4px;
            background: var(--tg-theme-color-primary);
            opacity: 0;
            transition: opacity 0.1s linear;
            will-change: opacity; // 启用硬件加速
            z-index: 999;
          }

          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 4px;
            pointer-events: none;
            border: 2px dashed var(--tg-theme-color-primary);
            opacity: 0;
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            z-index: 999;
          }

          &.dragging {
            opacity: 0.4;
            transform: scale(0.98);
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            z-index: 9999;

            &::after {
              content: '';
              position: absolute;
              inset: 0;
              border: 2px dashed var(--tg-theme-color-primary);
            }
          }

          &[data-selected='true'] {
            outline: 2px dashed var(--tg-theme-color-primary-active);
            outline-offset: 1px;
            z-index: 999;
          }

          &.component-enter-active {
            animation: fadeIn 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
            pointer-events: none; // 动画期间禁用交互
          }

          &.component-leave-active {
            animation: fadeOut 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
            pointer-events: none; // 禁用交互
          }

          &:hover {
            outline-color: var(--tg-theme-color-primary-border-hover);
            z-index: 9999;

            &:not([data-selected='true']):has(.tg-designer-drag-component:hover) {
              outline-color: transparent;
            }

            &[data-selected='true']:has(.tg-designer-drag-component:hover) {
              outline-color: var(--tg-theme-color-primary-active);
            }
          }

          &.component-move {
            transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          }

          :where(&) > :where(*) {
            cursor: move;
            width: 100%;
            height: 100%;

            &.ant-image {
              width: auto;
              height: auto;
              overflow: hidden;

              .ant-image-img {
                width: auto;
                height: auto;
                pointer-events: none;
                object-fit: cover;
              }
            }
          }

          @keyframes fadeIn {
            from {
              opacity: 0;
              transform: scale(0.95);
            }
            to {
              opacity: 1;
              transform: scale(1);
            }
          }

          @keyframes fadeOut {
            from {
              opacity: 1;
              transform: scale(1);
            }
            to {
              opacity: 0;
              transform: scale(0.8);
            }
          }
        }
      }
    }
  }

  .tg-designer-property-wrapper {
    // padding: 10px;
  }
}

.tg-designer-layout-container {
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  //overflow: hidden;
  text-overflow: ellipsis;

  &:empty {
    display: flex; // 重置antd的Flex组件属性
    height: 32px;
  }

  &.ant-flex:empty {
    display: unset; // 重置antd的全局样式影响
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Microsoft YaHei', 'Source Han Sans', sans-serif;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    letter-spacing: 10px;
    transform: translateZ(0);
    background: linear-gradient(145deg, rgba(194, 194, 194, 0.3) 0%, rgba(224, 224, 224, 0.3) 100%);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    white-space: nowrap; // 禁止换行
    overflow: hidden; // 隐藏溢出内容
    text-overflow: ellipsis; // 显示省略号
    max-width: 100%; // 确保宽度约束
    padding: 0 20px; // 添加两侧内边距防止边缘截断
  }

  &:empty::before {
    content: '组件放置区';
    font-size: 16px;
  }

  // 当设置了背景图片时，取消“组件放置区”的背景色，防止干扰图片显示
  &.has-background-image::before {
    background: none !important;
  }
}
