.tg-menu-container.ant-menu {
  height: 100%;

  // 背景主题
  &.background {

  }

  // 边框主题
  &.bordered {

  }

  // 折叠状态
  &.ant-menu-inline-collapsed {
    $size: calc(var(--tg-theme-font-size-lg) + .4rem);

    & > .ant-menu-item,
    & > .ant-menu-submenu .ant-menu-submenu-title {
      // 8px 为为了抵消 margin-left 和 margin-right 的值
      padding-inline: calc((100% - $size - 8px) / 2);
    }

    & > .ant-menu-item,
    & > .ant-menu-submenu {
      & > .ant-menu-title-content .ant-menu-item-title,
      & > .ant-menu-submenu-title {
        display: flex;
        align-items: center;

        .anticon {
          min-width: $size;
          font-size: $size;
        }
      }
    }
  }
}

// 折叠状态下的子菜单
.ant-menu-submenu.ant-menu-submenu-popup {

}
