.tg-menu-container.ant-menu {
  height: 100%;

  // 背景主题
  &.background {

  }

  // 边框主题
  &.bordered {

  }

  & > .ant-menu-item-active,
  & > .ant-menu-submenu-active .ant-menu-submenu-title,
  & > .ant-menu-submenu-open:hover {
    .anticon {
      color: var(--tg-theme-color-primary);
    }
  }

  & > .ant-menu-item-selected,
  & > .ant-menu-submenu-selected .ant-menu-submenu-title {
    .anticon {
      color: var(--tg-theme-color-text);
    }
  }

  // 折叠状态
  &.ant-menu-inline-collapsed {
    $size: calc(var(--tg-theme-font-size-icon) + 10px);

    & > .ant-menu-item .anticon {
      vertical-align: middle;
    }

    & > .ant-menu-submenu .ant-menu-submenu-title .anticon {
      vertical-align: sub;
    }

    & > .ant-menu-item,
    & > .ant-menu-submenu .ant-menu-submenu-title {
      // 8px 为为了抵消 margin-left 和 margin-right 的值
      padding-inline: calc((100% - $size - 8px) / 2);

      .anticon {
        font-size: $size;
      }
    }

    & > .ant-menu-item.ant-menu-item-selected,
    & > .ant-menu-submenu.ant-menu-submenu-selected .ant-menu-submenu-title {
      //background: var(--tg-theme-color-primary-bg);
    }
  }
}

// 折叠状态下的子菜单
.ant-menu-submenu.ant-menu-submenu-popup {

}
