.tg-container {
  height: 0;
  flex: auto;
  padding: 0 var(--tg-theme-padding) var(--tg-theme-padding);
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1366px) {
    padding: 0 var(--tg-theme-padding-sm) var(--tg-theme-padding-sm);
  }

  @media screen and (min-width: 1920px) {
    padding: 0 var(--tg-theme-padding) var(--tg-theme-padding);
  }

  & > .tg-container-title {
    flex: none;
    display: flex;
    height: 56px;
    line-height: 56px;
    align-items: center;
    overflow: hidden;

    & > .tg-container-title-content {
      flex: none;
      font-weight: 700;
      min-width: 260px;
      font-size: var(--tg-theme-font-size-lg);
      color: var(--tg-theme-color-text);

      .anticon {
        font-size: 20px;
      }
    }

    & > .tg-container-function {
      flex: auto;
      display: flex;
      overflow-x: auto;
      justify-content: flex-end;
    }

    @media screen and (max-width: 1366px) {
      height: 36px;
      line-height: 36px;

      & > .tg-container-title-content {
        .anticon {
          font-size: 16px;
        }
      }
    }

    @media screen and (min-width: 1920px) {
      height: 56px;
      line-height: 56px;
    }
  }

  & > .tg-container-content {
    height: 100%;
    flex: auto;
    overflow: hidden;
    display: flex;
    gap: 12px;
    flex-direction: column;

    &:has(
      .tg-container-chart-wrapper,
      .tg-container-inquiry-wrapper,
      .tg-container-table-wrapper,
      .tg-container-content-wrapper
    ) > * {
      flex: none;

      &:is(
        //.tg-container-chart-wrapper,
        .tg-container-table-wrapper,
        .tg-container-content-wrapper
      ) {
        flex: auto;
        height: 0;

        .tg-container-others-content {
          flex: auto;
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }

      &.tg-container-table-wrapper {
        height: 100%;
      }

      &.tg-container-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .tg-container-others-content {
          overflow: auto;
        }

        .tg-container-bottom-functions {
          flex: none;
          height: 48px;
          background: var(--tg-theme-color-bg-container);
          border-radius: var(--tg-theme-border-radius);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &:has(.tg-container-with-sider--sider, .tg-container-with-sider--content) {
      flex-direction: row;

      & > .tg-container-with-sider--content {
        flex: auto;
        width: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;

        &:has(
          .tg-container-chart-wrapper,
          .tg-container-inquiry-wrapper,
          .tg-container-content-wrapper,
          .tg-container-table-wrapper
        ) > * {
          flex: none;

          &:is(
            //.tg-container-chart-wrapper,
            .tg-container-table-wrapper,
            .tg-container-content-wrapper
          ) {
            flex: auto;
          }
        }
      }
    }

    & .tg-container-chart-wrapper {
      //flex: auto;
      //height: 0;
    }

    & .tg-container-table-wrapper {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      //height: 100%;
      height: 0;
      //min-height: 400px;
      gap: 14px;
      background: var(--tg-theme-color-bg-container);
      padding: 20px;
      border-radius: var(--tg-theme-border-radius);

      @media screen and (max-width: 1366px) {
        padding: var(--tg-theme-padding-sm);
      }

      @media screen and (min-width: 1920px) {
        padding: var(--tg-theme-padding);
      }

      .ant-pagination {
        margin-bottom: 0;
      }
    }
  }
}
