.tg-designer-property-comp-gradient-angle-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;

  .angle-selector-label {
    color: #000000;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
  }

  .angle-selector-foundation {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-image: linear-gradient(45deg, #dcdcdc 25%, transparent 25%, transparent 75%, #dcdcdc 75%),
    linear-gradient(45deg, #dcdcdc 25%, transparent 25%, transparent 75%, #dcdcdc 75%);
    background-size: 8px 8px;
    background-position: 0 0, 4px 4px;
  }

  .angle-selector {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid rgba(gray, 0.2);
    }

    .angle-indicator {
      position: relative;
      width: 100%;
      height: 100%;
      transform-origin: center;
      user-select: none;
      pointer-events: none;
      border: 1px solid rgba(gray, 0.2);
      border-radius: 50%;

      .angle-indicator-line {
        position: absolute;
        top: 0;
        left: 50%;
        width: 4px;
        height: 50px;
        background: gray;
        border-radius: 10px;
        box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
        z-index: 1;
      }

      .angle-handle {
        position: absolute;
        top: 0;
        left: calc(50% - 4px);
        width: 12px;
        height: 12px;
        background: gray;
        border-radius: 50%;
        box-shadow: 0 -1px 4px 1px rgba(#ffffff, 0.8);
        z-index: 1;
      }
    }
  }
}

.tg-designer-property-comp-color-picker {
  .tg-designer-property-comp-gradient-picker-compact {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .tg-designer-property-comp-gradient-wrapper {
      display: flex;
      flex: none;
      align-items: center;

      .tg-designer-property-comp-gradient-bar {
        width: 100%;
        flex: auto;
        position: relative;
        height: 10px;
        border-radius: 4px;
        cursor: pointer;
        margin: 24px 10px 8px;
        z-index: 0;

        &.drag-target {
          box-shadow: inset 0 0 0 2px #1890ff;
        }

        &.dragover {
          box-shadow: inset 0 0 0 2px #1890ff;
        }

        &::before {
          content: '';
          position: absolute;
          pointer-events: none;
          width: calc(100% + 16px);
          left: -8px;
          height: 100%;
          background-image: linear-gradient(45deg, #dcdcdc 25%, transparent 25%, transparent 75%, #dcdcdc 75%),
          linear-gradient(45deg, #dcdcdc 25%, transparent 25%, transparent 75%, #dcdcdc 75%);
          background-size: 8px 8px;
          background-position: 0 0, 4px 4px;
        }

        &::after {
          position: absolute;
          content: '';
          pointer-events: none;
          width: calc(100% + 16px);
          left: -8px;
          height: 100%;
          border-radius: 4px;
          background: var(--background-image);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        }

        .tg-designer-property-comp-gradient-color-tag {
          position: absolute;
          top: -3px;
          transform: translateX(-50%);
          cursor: pointer;
          z-index: 1;
          pointer-events: auto;

          &:hover .tag-indicator {
            transform: scale(1.1);
            box-shadow: 0 0 0 2px white, 0 0 0 3px #1890ff;
          }

          &.active .tag-indicator {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #1890ff;
          }

          &.dragging {
            pointer-events: none;
            user-select: none;
            display: none;

            .tag-indicator {
              opacity: 0.9;
              transition: none;
              box-shadow: 0 0 0 3px white, 0 0 0 4px #1890ff;
              z-index: 1000;
            }
          }

          .tag-indicator {
            position: relative;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 2px solid #ededed;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease;
            pointer-events: auto;

            &::before {
              content: attr(data-offset);
              position: absolute;
              top: -20px;
              color: #333333;
              width: 30px;
              text-align: center;
              height: 16px;
              line-height: 16px;
              font-size: 12px;
              transform: translate(-10px);
            }
          }
        }
      }

      .tg-designer-property-comp-gradient-angle-selector-trigger {
        flex: none;
        width: 36px;
        padding-left: 4px;
        height: 32px;
        margin-right: -36px;
        position: relative;

        .gradient-angle-selector-trigger-icon {
          position: relative;
          top: 0;
          left: 25%;
          transform: translate(-25%, -25%);
          width: 16px;
          height: 16px;
          background: #ffffff;
          border: 1px solid #000000;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: transform 0.2s ease;

          .indicator-line {
            position: absolute;
            top: 25%;
            left: 50%;
            width: 2px;
            height: 8px; // 射线长度
            background: var(--tg-theme-color-primary);
            transform-origin: 0 0; // 以圆心为旋转中心
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
