.tg-inquiry-form.tg-inquiry-form {
  flex: auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  .tg-inquiry-form-content {
    flex: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;
    background: var(--tg-theme-color-bg-container);
    padding: 20px;
    overflow: auto;
    border-radius: var(--tg-theme-border-radius);

    &.tg-inquiry-side-toggle-reverse .tg-inquiry-side-toggle .tree-btn {
      transform: rotateY(180deg);
    }

    .tg-inquiry-row-for-fields {
      flex: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 12px;

      .tg-inquiry-row-for-buttons {
        flex-wrap: wrap;
      }

      & > .ant-form-item {
        &.ant-form-item-with-help {
          margin-bottom: 0;
        }

        &.span-2 {
          min-width: 300px;
        }

        .ant-input-group.number-range {
          display: flex;
          align-items: center;
          width: 100%;
          flex-wrap: nowrap;

          & > .ant-form-item {
            &:first-child,
            &:last-child {
              flex: auto;
              margin-inline-end: 0;
            }

            .ant-form-item-row {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &:not(.fixed) {
    .ant-form-item-control {
      :is(.ant-select, .ant-input, .ant-input-number) {
        min-width: 100px;
      }
    }
  }

  &.fixed {
    .tg-inquiry-form-collapse-button {
      flex: none;
      width: 100%;
      display: flex;
      justify-content: center;

      .ant-btn {
        width: 52px;
        height: 18px;
        font-size: 10px;
        padding: 0;
        border: unset;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .tg-inquiry-form-content {
      overflow: hidden;
      transition: height .2s ease-out;

      .tg-inquiry-row-for-fields {
        gap: 12px;
        align-content: flex-start;
        flex-wrap: wrap;
        flex: none;

        &.collapsed {
          .ant-form-item:nth-child(n + 8) {
            display: none;
          }
        }

        & > * {
          width: calc((100% - 36px) / 4);
        }

        .tg-inquiry-row-for-buttons {
          flex-wrap: nowrap;
          // margin-left: auto;
          padding: 0;
          // justify-content: flex-end;
        }

        & > .ant-form-item {
          margin-inline-end: 0;
          flex: none;
          display: flex;

          .ant-form-item-row {
            width: 0;
            min-width: 0;
            flex: auto;
            flex-wrap: nowrap;

            .ant-form-item-label {
              flex: none;

              .ant-form-item-no-colon {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }

            .ant-form-item-control {
              flex: auto;
              width: 0;
            }
          }

          .ant-form-item-control-input-content {
            & > *:not(.ant-form-item) {
              width: 100%;
            }

            &:has(.ant-form-item) {
              display: flex;

              & > * {
                flex: auto;

                &.ant-form-item {
                  margin-inline-end: 4px;

                  &:last-child {
                    margin-inline-end: 0;
                  }
                }

                .ant-form-item-row {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
