.tg-inquiry-form.tg-inquiry-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 10px;
  padding: 12px 20px;
  background: #ffffff;
  overflow: auto;
  max-height: 11lh;
  border-radius: var(--tg-theme-border-radius);

  &.ant-form-inline .ant-form-item-with-help {
    margin-bottom: 0;
  }

  .tg-inquiry-side-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;

    .tree-btn {
      font-size: 1.8em;
      opacity: 0.6;
      cursor: pointer;
      transition: opacity .2s var(--tg-theme-motion-ease-in-out);
      color: var(--tg-theme-color-text);

      &:hover {
        opacity: 1;
      }
    }
  }

  &.tg-inquiry-side-toggle-reverse .tg-inquiry-side-toggle .tree-btn {
    transform: rotateY(180deg);
  }

  .tg-inquiry-row-for-buttons {
    padding: 0 10px;
    flex-wrap: wrap;
  }

  .ant-form-item:not(.activity) {
    //margin-right: 0;
    //flex: none;
    //min-width: 200px;
    //box-sizing: border-box;
    //display: inline-flex;
    //align-items: center;

    &.ant-form-item-with-help {
      margin-bottom: 0;
    }

    &.span-2 {
      min-width: 300px;
    }

    .ant-form-item-label {
      //z-index: 1;
      //flex: none;
      //overflow: initial;

      label {
        //display: inline-block;
        //min-width: 94px;
        //text-align: justify;
        //text-align-last: justify;
        //padding-left: 10px;
        //padding-right: 4px;
      }
    }

    // 把搜索框的 label 放进框内
    .ant-form-item-control {
      :is(.ant-select, .ant-input, .ant-input-number) {
        min-width: 100px;
      }

      //.ant-form-item-control {
      //  height: 100%;
      //
      //  // inquiry 组件内的行内表单防止样式错位，隐藏文字提示信息
      //  &.has-error .ant-form-explain,
      //  .ant-form-item-children + * {
      //    display: none;
      //  }
      //
      //  .ant-form-item-children {
      //    display: flex;
      //    height: 100%;
      //
      //    & > .ant-select .ant-select-selection,
      //    & > .ant-input-affix-wrapper .ant-input,
      //    & > .ant-input-number,
      //    & > .ant-input,
      //    & > .ant-calendar-picker .ant-calendar-picker-input,
      //    & > .ant-input-group {
      //      width: 100%;
      //      //padding-left: 80px;
      //    }
      //
      //    & > .ant-calendar-picker {
      //      width: 100%;
      //    }
      //
      //    & > .ant-input-group {
      //      display: flex;
      //      align-items: center;
      //      gap: 5px;
      //      border: 1px solid #d9d9d9;
      //      border-radius: var(--tg-theme-border-radius);
      //      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      //      top: 0;
      //
      //      &:hover {
      //        border-color: var(--tg-theme-color-primary);
      //      }
      //
      //      .ant-input-number {
      //        height: 30px;
      //        border: 0 !important;
      //        outline: none !important;
      //        box-shadow: none !important;
      //      }
      //
      //      .ant-input-number:first-child {
      //        &:hover,
      //        &:focus,
      //        &:active {
      //          border-color: transparent !important;
      //          border-right: 1px solid #d9d9d9 !important;
      //        }
      //      }
      //    }
      //  }
      //}
    }
  }

  .number-range.number-range {
    display: flex;
    align-items: center;
    width: auto;

    .ant-form-item-children {
      display: flex;
      align-items: center;

      .ant-form-item {
        margin-right: 0;
        width: 80px;

        &:first-child,
        &:last-child {
          flex: auto;
        }

        &:first-child {
          .ant-input-number {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        &:last-child {
          .ant-input-number {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }

      .identifier {
        flex: none;
        width: 40px;

        .ant-input {
          text-align: center;
          flex: none;
          padding: 0 4px;
          border-left: none;
          border-right: none;
          border-radius: 0;
        }
      }
    }
  }

  .tg-inquiry-row-for-fields {
    flex: auto;
    display: inherit;
    flex-wrap: inherit;
    align-items: center;
    gap: 12px;

    .form-item-btn {
      //width: auto !important;

      .ant-form-item-control-wrapper {
        //z-index: 11 !important;
      }
    }

    .return {
      //margin-left: auto;
    }
  }
}
