.ant-app[data-doc-theme='light'] .ant-table {
  .tg-table-striped td {
    background-color: #fafafa;
  }
}

.ant-app[data-doc-theme='dark'] .ant-table {
  .tg-table-striped td {
    background-color: rgb(29, 29, 29);
  }
}

.tg-table.ant-table-wrapper {
  height: 100%;

  .ant-spin-nested-loading {
    height: 100%;

    .ant-spin-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      .ant-table {
        height: 0;
        overflow: hidden;
        flex: auto;

        .ant-table-container {
          height: 100%;
          display: flex;
          flex-direction: column;
          border: 0;
          border-radius: 0;

          // .ant-table-content,
          // .ant-table-header {
          //   border-inline-start: 1px solid var(--tg-theme-color-border-reset);
          //   border-start-start-radius: var(--tg-theme-border-radius);
          // }

          .ant-table-header {
            flex: none;
          }

          .ant-table-body {
            // border-inline-start: 1px solid var(--tg-theme-color-border-secondary);
            height: 0;
            flex: auto;
            overflow: hidden;
          }
        }
      }

      .ant-pagination {
        flex: none;
      }
    }
  }
}
