.tg-designer-layout-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .tg-designer-layout-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tg-designer-layout-header-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #ffffff;
      flex: none;

      .anticon {
        font-size: 40px;
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-inline: 0.5em 0.3em;
        background: url(../images/logo.png) no-repeat center 100% / 100%;
      }

      .tg-designer-layout-header-title {
        & > div:first-child {
          font-size: 20px;
        }

        & > div:last-child {
          font-size: 12px;
        }
      }
    }

    .tg-designer-layout-header-nav {
      flex: auto;
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;

      &.is-design-patterns {
        &:empty::before {
          content: '导航放置区' !important;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgba(255, 255, 255, 0.9);
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          transform: translateZ(0);
          background: linear-gradient(145deg, rgba(194, 194, 194, 0.3) 0%, rgba(224, 224, 224, 0.3) 100%);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          padding: 0 20px;
        }
      }
    }
  }
}
