.tg-designer-layout-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .tg-designer-layout-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .tg-designer-layout-header-logo {
      display: flex;
      gap: 6px;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      flex: none;

      .tg-designer-layout-container.tg-designer-layout-image {
        // 覆盖全局行高（.ant-app内定义）的影响，导致其内的AntImage组件布局错位
        line-height: 0;
        flex: none;
        width: auto;
        height: auto;

        &.is-design-patterns {
          &:empty {
            min-width: 40px;
            min-height: 40px;

            &::before {
              content: 'LOGO\a放置区';
              white-space: pre;
              letter-spacing: 0;
              font-size: 12px;
              line-height: 1.2;
            }
          }
        }

        & > * {
          // 严格控制子元素（.tg-designer-drag-component）的宽高
          width: 100% !important;
          height: 100% !important;
        }
      }

      .tg-designer-layout-container.tg-designer-layout-header-title {
        &.is-design-patterns {
          min-width: 150px;

          &:empty::before {
            content: '标题放置区';
          }
        }
      }
    }

    .tg-designer-layout-container.tg-designer-layout-header-nav {
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;

      &.is-design-patterns {
        min-width: 300px;

        &:empty::before {
          content: '导航放置区';
        }
      }
    }
  }
}
